<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RCTravel.Properties.Settings.ConnectionString" connectionString="Data Source=XNJDB;Persist Security Info=True;User ID=sajet;Password=tech;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>