<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Lassalle.Flow" publicKeyToken="BFC5C756E54A9D2A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.3.3.1" newVersion="2.3.3.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.OracleClient" publicKeyToken="B77A5C561934E089" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
