<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    </configSections>
	  <log4net>
		  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			  區塊名稱與型別
			  <file type="log4net.Util.PatternString" value="AppLog\SajetMESLog" />  設定儲存記錄檔的位置
			  <appendToFile value="true" /> <!--是否覆寫到文件中-->
			  <datePattern value="yyyyMMdd" /> <!--日期模式-->
			  <rollingStyle value="Composite" /> <!--新文件創建的單位(方式)，Composite(任何)、Date(以日期區分)、Size(以大小區分)-->
			  <maximumFileSize value="10MB" /> <!--單個日誌文件檔案最大的大小-->
			  <maxSizeRollBackups value="100" /> <!--備份(分割)文件單位的個數(以當天的總檔案數量為限，超過就刪除覆寫)-->
			  <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
				  <!--日誌輸出格式(請勿修改)-->
				  <locationInfo value="true" />
			  </layout>
		  </appender>
		  <root>
			  <level value="Error" />
			  <!--設定記錄層級 等級: debug < info < warn < error < fatal-->
			  <appender-ref ref="RollingFileAppender" />
			  <!--參考設定區塊-->
		  </root>
	  </log4net>
  </startup>
  <system.windows.forms jitDebugging="true" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
